---

---

<section
  id="dinamica"
  class="h-[100vh] bg-zinc-700 md:my-0 py-16 px-11 text-white text-xl"
>
  <div class="max-w-[1024px] mx-auto flex flex-col gap-2">
    <h3 class="font-bold text-4xl mb-2">Ley de la dinamica</h3>
    <p class="text-gray-400">
      Un auto viaja a una Velocidad constante de <span
        ><input
          class="text-white w-14 px-2 py-1 bg-transparent border-b-2 p-0 m-0"
          type="text"
        /></span
      >
      KM/h, ¿en que tiempo a recorrido <span
        ><input
          class="text-white w-14 px-2 py-1 bg-transparent border-b-2 p-0"
          type="text"
        /></span
      > Metros?
    </p>
  </div>
  <div class="max-w-[1024px] mx-auto m">
    <button class="btn btn-soft btn-success">Calcular</button>
  </div>
</section>
