---

---

<footer
  class="footer bg-base-200/60 flex justify-center items-center rounded-t-box px-6 py-4 shadow"
>
  <aside class="">
    <p>©2024 <a class="link link-hover font-medium" href="#">Rectiphy</a></p>
  </aside>
</footer>
