---
import IconMovil from '../components/icons/IconMovil.astro'
import IconNewton from '../components/icons/IconNewton.astro'
---
<nav class="bg-black flex justify-evenly">
    <div class="px-6 py-4 flex justify-center max-w-[1080px]">
    <div>
        <img src="" alt="">
    </div>
    <div class="flex gap-8">
        <a href="" class="text-white hover:text-[#aaa] font-bold flex gap-3"><span class="w-1 text-white"><IconMovil/></span> MRU</a>
        <a href="" class="text-white hover:text-[#aaa] font-bold flex gap-3"><span class="w-1 text-white"><IconNewton/></span> Newton</a>
    </div>
</div>
</nav>