---
import Car from "./icons/Car.astro";
import IconMenu from "./icons/IconMenu.astro";
import Newton from "./icons/Newton.astro";
---

<nav id="inicio">
  <div
    class="flex justify-between items-center max-w-[1140px] mx-auto px-10 py-4"
  >
    <!-- Logo -->
    <h1
      class="text-white font-black font-sans text-[30px] md:text-[40px] select-none"
    >
      Rectiphy
    </h1>

    <!-- Links para pantallas grandes -->
    <div class="hidden md:flex gap-8">
      <a
        href="#mru"
        class="text-white hover:text-[#ddd] font-bold flex gap-[7px] items-center"
      >
        <span class="mb-1"><Car /></span> MRU
      </a>
      <a
        href="#dinamica"
        class="text-white hover:text-[#ddd] font-bold flex gap-[7px] items-center"
      >
        <span><Newton /></span> Newton
      </a>
    </div>

    <!-- Icono para menú hamburguesa -->
    <div class="text-white md:hidden cursor-pointer icono">
      <IconMenu />
    </div>
  </div>

  <!-- Menú responsive -->
  <div
    class="menuResponsive absolute hidden flex-col text-white md:hidden w-full z-50 bg-green-950 px-10"
  >
    <a
      href="#mru"
      class="my-4 hover:text-[#ddd] font-bold flex gap-[7px] items-center p-6 bg-[#ddd4] border-b-4 rounded-3xl hover:border-b-0 hover:backdrop:blur-2xl hover:bg-[#333d] transition-all"
    >
      <span class="mb-1"><Car /></span> MRU
    </a>
    <a
      href="#dinamica"
      class="my-4 hover:text-[#ddd] font-bold flex gap-[7px] items-center p-6 bg-[#ddd4] border-b-4 rounded-3xl hover:border-b-0 hover:backdrop:blur-2xl hover:bg-[#333d] transition-all"
    >
      <span><Newton /></span> Newton
    </a>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const icono = document.querySelector(".icono");
    const menuResponsive = document.querySelector(".menuResponsive");

    icono?.addEventListener("click", () => {
      menuResponsive?.classList.toggle("hidden");
    });
  });
</script>
