---
import Car from "./icons/Car.astro";
import Newton from "./icons/Newton.astro";

const words = []; // Cambia estas palabras según tus necesidades
---

<section class="max-w-[1024px] mx-auto h-[40vh] my-16">
  <div class="flex items-center justify-center">
    <div class="typing-container flex flex-col justify-center px-8 my-10">
      <h2
        class="text-[70px] text-center font-Satisfy font-[600] text-green-500 md:text-[80px]"
      >
        Bienvenido a Rectiphy
      </h2>
      <span class="text-center font-Satisfy typed-text">{words}</span>
      <!-- Cursor siempre visible -->
    </div>
  </div>
  <div class="w-full flex justify-center gap-16 mt-9">
    <button
      class="flex gap-2 w-28 bg-gray-100 text-gray-800 border-gray-300 items-center justify-center px-3 py-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 text-md hover:bg-gray-800 hover:border-gray-900 rounded-xl hover:text-white"
      ><span class="mb-1"><Car /></span>MRU</button
    >
    <button
      class="flex gap-2 w-28 bg-gray-100 text-gray-800 border-gray-300 items-center justify-center px-3 py-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 text-md hover:bg-gray-800 hover:border-gray-900 rounded-xl hover:text-white"
      ><span class=""><Newton /></span>Newton
    </button>
  </div>

  <script>
    let currentWordIndex = 0;
    const words = [
      "Isaac Newton",
      "Movimiento Rectilineo Undforme",
      "Galileo di Vincenzo Bonaiuti de' Galilei",
    ];
    const typingSpeed = 100; // Velocidad de escritura
    const pauseDuration = 3000; // Pausa antes de cambiar la palabra

    const typedTextElement = document.querySelector(".typed-text");

    function typeWord() {
      typedTextElement.innerHTML = ""; // Limpiar el texto antes de empezar
      const word = words[currentWordIndex];
      let i = 0;

      const typingInterval = setInterval(() => {
        typedTextElement.innerHTML += word[i];
        i++;
        if (i === word.length) {
          clearInterval(typingInterval);
          setTimeout(() => {
            currentWordIndex = (currentWordIndex + 1) % words.length;
            typeWord(); // Continuar con la siguiente palabra
          }, pauseDuration);
        }
      }, typingSpeed);
    }

    typeWord(); // Iniciar la animación
  </script>

  <style>
    .typing-container {
      display: inline;
      text-align: center;
      position: relative;
      font-size: 30px;
      color: white; /* Texto blanco */
    }

    .typed-text {
      display: inline;
      overflow: hidden;
      font-weight: normal;
      padding: 0px 10px;
    }

    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: white;
      }
    }
  </style>
</section>
